* {
    margin: 0 auto;
    box-sizing: border-box;
}

/* ||||||||----------- **  Header Section ** ------------------
----||||||||||||||||||| */

header {
    width: 100%;
    height: 100px;
    background: rgb(161, 161, 255);
}


/* ||||||||----------- **  Hero Section ** ------------------
----||||||||||||||||||| */

.hero {
    width: 100%;
    height: 400px;
    background: rgb(251, 153, 153);
}

/* ||||||||----------- **  Main Section ** ------------------
----||||||||||||||||||| */

main {
    width: 100%;
    height: 600px;
    background: rgb(209, 207, 207);
}

/* ||||||||----------- **  Footer Section ** ------------------
----||||||||||||||||||| */

footer {
    width: 100%;
    height: 200px;
    background: rgb(158, 253, 158);
}