* {
    
    box-sizing: border-box;
}
/* .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
} */

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 1000px;
    display: flex;
    align-items: stretch;
    
    
}


/* ||||||||----------- ** 
 Header Section ** ------------------
----||||||||||||||||||| */

header {
    width: 100%;
    height: 100px;
    background: yellow;

}
.icon {
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: black;
    color: white;
    padding: 15px;
    margin: auto;
}
.icon i { 
    color: white;
    margin-bottom: 7px;
}

header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;     
}
header ul li{
    list-style: none;
}
header ul li a{
    height: 100px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.search-bar {
    display: flex;   
    align-items: center;
    
}
.hamburger-icon {
    display: none;
    

}
@media screen and (max-width: 720px) {
    .hamburger-icon {
        display: flex;
        align-items: center;
    }
    header ul {
       display: none;     
    }
    .container{
        width: 100%;
    }
}



/* ||||||||----------- ** 
 Hero Section ** ------------------
----||||||||||||||||||| */

.hero {
    width: 100%;
    height: 500px;
    background: linear-gradient(60deg, black, transparent), url('../img/cover-img.jpg');
    background-size: cover;
    background-position: 70% 80%;
    display: flex;
    
}

.hero .container {  
      
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    color: white;   
}
.hero p {   
    margin-top: 0px;
    width: 60%;
}
.hero-input-button{
    display: flex;
}
.hero-input-button input{
    font-size: 16px;
    padding: 10px 8px;
}
.hero-input-button button{
    font-size: 16px;
    padding: 0px 15px;
    margin: 0px;
    background: black;
    border: none;
    color: white;
    text-transform: uppercase;
}




/* ||||||||----------- ** 
 Main Section ** ------------------
----||||||||||||||||||| */

main {
    width: 100%;
    height: 600px;
    background: rgb(209, 207, 207);   
}




/* ||||||||----------- **  
Footer Section ** ------------------
----||||||||||||||||||| */

footer {
    width: 100%;
    padding: 15px 30px;
    color: rgb(146, 145, 145);    
    background: black;
}
footer h4 {
    text-transform: uppercase;
}
footer ul {
    padding-left: 10px;    
}
footer ul li{
    list-style: none;
}
footer ul li i{
    margin-bottom: 10px;
}
footer ul li span{
    margin-left: 10px;
}
